form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    margin: 0 auto;
    padding: 1rem;
    width: 80%;
    max-width: 500px;
    /*background-color: var(--offwhite);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);q*/
}

label {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin-bottom: -10px;
    margin-left: 5px;
    z-index: 10;

}

#arrow {
    position: absolute;
    top: 211px;
    left: 9%;
    z-index: 10;
}

@media screen and (min-width: 500px) {
    #arrow {
        top: 190px;
        left: 18.5%;
    }   
}

@media screen and (min-width: 1279px) {
    #arrow {
        top: 190px;
        left: 25%;
    }   
    
}

#timeWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    

}

#timeWrapper div {
    width: 47%;
}

#timeWrapper label {
    position: relative;
    width: 40%;
}

#departureTime {  
    flex: 1;
    width: 100%;
    
}

#arrivalTime {
    width: 100%;
    flex: 1;
}