form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    margin: 0 auto;
    margin-top: -100px;
    padding: 1rem;
    width: 90%;
    max-width: 500px;
    /*background-color: var(--offwhite);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);q*/
}

label {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin-bottom: -10px;
    margin-left: 5px;
    z-index: 10;
    filter:drop-shadow(3px 3px 5px rgba(0,0,0,0.4));

}

#arrow {
    position: relative;
    top: 117px;
    left: -21px;
    z-index: 10;
}

/* @media screen and (min-width: 500px) {
    #arrow {
        top: 190px;
        left: 18.5%;
    }   
}

@media screen and (min-width: 1279px) {
    #arrow {
        top: 190px;
        left: 25%;
    }   
    
} */

#timeWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;


}

#timeWrapper div {
    width: 47%;
}

#timeWrapper label {
    position: relative;
    width: 40%;
}

#departureTime {
    flex: 1;
    width: 100%;

}

#arrivalTime {
    width: 100%;
    flex: 1;
}

/* Style for suggestion list container */



#suggestionsDeparture, 
#suggestionsDestination {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid #ccc;
    border-top: none; */
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    position: absolute; /* Absolute position to align with input */
    z-index: 1000; /* Ensure it's on top of other elements */
    width: 100%; /* Match input width */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.suggestion-item {
    padding: 10px 15px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

#departure, 
#destination {
    position: relative;
}

