/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------- End CSS Reset ------ */
/* ------- Colors ------ */

:root {
    --brandgreen: #62806A;
    --buttongreen: #33553C;
    --secondary: #93AA99;
    --lightgray: #D9D9D9;
    --offwhite: #F9F9F9;
}

* {
    box-sizing: border-box;
}

/* ------- Fonts ------ */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

/*.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* ------- Base Definitions ------ */

body {
    background-color: var(--offwhite);

}
header {
    background-color: var(--brandgreen);
    height: 10vh;
    display: flex;
    align-items: center;

}

#logo {
    width: 60px;
    height: 60px;
    display: block;
    margin-left: 10px;
}

main {
    min-height: 80vh;
}

h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    max-width: 70vw;
    margin: 0 auto;
    padding: 30px 0;
}

h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    max-width: 70vw;
    margin: 0 auto;
    padding: 10px 0;
}

p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    max-width: 70vw;
    margin: 0 auto;
    padding: 30px 0;
}

label {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    display: block;
    margin-bottom: 0px;
}

input[type="text"], input[type="datetime-local"], input[type="password"] {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    background-color: var(--lightgray);
    border-radius: 10px;
    height: 50px;
}

button {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    background-color: var(--buttongreen);
    color: white;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: var(--brandgreen);
}

footer {
    background-color: var(--brandgreen);
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    color: var(--offwhite);
    line-height: 2rem;


}
/* ------- End End Base Definitions ------ */